.booking {
  padding: 6px;
}

.booking__slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.booking__intro {
  line-height: 24px;
}

.booking__search-button {
  display: block;
  box-sizing: border-box; 
  background-color: @blue;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: @white;
  width: 280px;
  padding: 16px;
  margin: 34px auto 43px;
  &:hover,
  &:focus {
    background-color: @blue-hover;
    outline: none;
  }
  &:active {
    background-color: @blue-down;
    color: #ffffff4c;
  }
}

.booking__search-button-disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

@media (min-width: @tablet-width) {
  .booking {
    padding: 41px;
  }

  .booking__slogan {
    font-size: 30px;
    margin-bottom: 31px;
  }

  .booking__intro {
    max-width: 435px;
    margin: auto;
  }

  .booking__search-button {
    width: 458px;
    margin: 42px auto 18px;
  }
}

@media (min-width: @desktop-width) {
  .booking {
    padding: 60px;
  }
  
  .booking__search-button {
    margin: 48px auto 7px;
  }
}