.booking {
  padding: 5px;
}

.booking__slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.booking__intro {
  max-width: 280px;
  margin: 0 auto;
  line-height: 24px;
}

.booking__search-button {
  .blue-button;
}

@media (min-width: @tablet-width) {
  .booking {
    padding: 41px;
  }

  .booking__slogan {
    font-size: 30px;
    margin-bottom: 31px;
  }

  .booking__intro {
    max-width: 440px;
    margin: auto;
  }

  .booking__search-button {
    width: 458px;
    margin: 42px auto 18px;
  }
}

@media (min-width: @desktop-width) {
  .booking {
    padding: 60px;
  }
  
  .booking__search-button {
    margin: 48px auto 7px;
  }
}