.features {
  padding: 20px 0;
  background-color: @white;
  color: #000000;
  list-style: none;
}

.features__item {
  box-sizing: border-box;
  position: relative;
  padding: 20px;
  padding-left: 70px;
  text-align: left;
}

.features__description {
  color: @darkgrey;
}

.features__item::before {
  content: "";
  background-color: @white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  top: 6px;
  left: 20px;
}

.features__name {
  margin: 0;
  margin-bottom: 10px;
}

.features__description {
  margin: 0;
}

.features__item_house::before {
  width: 37px;
  height: 36px;
  background-image: url("../img/icon-house.svg");
}

.features__item_gift::before {
  width: 32px;
  height: 38px;
  background-image: url("../img/icon-gift.svg");
}

.features__item_burger::before {
  width: 40px;
  height: 35px;
  background-image: url("../img/icon-burger.svg");
}

@media (min-width: @tablet-width) {
  .features {
    display: flex;
    flex-wrap: wrap;
  }
  .features__item {
    width: calc(100%*1/3);
    padding: 140px 45px 40px 45px;
    text-align: center;
  }
  .features__item_gift {
    order: 2;
  }
  .features__item::before {
    content: "";
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
  }
  .features__item_house::before {
    width: 75px;
    height: 72px;
  }
  .features__item_gift::before {
    width: 77px;
    height: 68px;
  }
  .features__item_burger::before {
    width: 64px;
    height: 75px;
  }
}
