.page-footer {
  box-sizing: border-box;
  width: 320px;
  padding: 35px 20px 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 245px;
}

.page-footer__tag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: @black;
}

.page-footer__social-list {
  margin: 0 auto;
}

.page-footer__copyright-logo {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 34px;
  background-color: @white;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: @tablet-width;
    flex-direction: row;
    align-items: center;
    padding: 33px 60px;
    min-height: 0;
  }

  .page-footer__copyright {
    margin-left: 5px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: @desktop-width;
    padding: 32px 120px;
  }
  
  .page-footer__copyright {
    margin-left: 5px;
  }
}