body {
  background: #ffffff;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.wrap-page {
  width: 320px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}
@media (max-width: 767px) {
  br {
    display: none;
  }
}
@media (min-width: 768px) {
  .wrap-page {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .wrap-page {
    width: 1200px;
    -webkit-box-shadow: -5px 0 5px -3px rgba(0, 1, 1, 0.2), 5px 0 5px -3px rgba(0, 1, 1, 0.2);
            box-shadow: -5px 0 5px -3px rgba(0, 1, 1, 0.2), 5px 0 5px -3px rgba(0, 1, 1, 0.2);
  }
  .text-to-hide {
    display: none;
  }
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-display: swap;
}
.blue-button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  width: 280px;
  padding: 16px;
  margin: 34px auto 43px;
}
.blue-button:hover,
.blue-button:focus {
  background-color: #669ec0;
  outline: none;
}
.blue-button:active {
  background-color: #5496bd;
  color: #ffffff4c;
}
.blue-button_disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}
.page-header {
  width: 320px;
  margin: auto;
  position: relative;
}
.page-header__logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 83px;
  overflow: hidden;
}
.page-header__logo-image {
  width: 101px;
  height: 96.42px;
  border: none;
}
.page-header__open {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 56px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-header__button {
  width: 23px;
  height: 22px;
  background-color: #ffffff;
  background-image: url("../img/icon-menu.svg");
  font-size: 0;
  margin: 0;
  border: none;
}
.page-header__button:hover,
.page-header__button:focus {
  outline: none;
}
.page-header__button_close {
  position: absolute;
  height: 23px;
  background-color: transparent;
  background-image: none;
  right: 15px;
  top: 15px;
}
.page-header__button_close::before,
.page-header__button_close::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: #ffffff;
  top: 10px;
  left: -7px;
  border-radius: 2px;
}
.page-header__button_close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.page-header__button_close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.page-header__button_nojs {
  display: none;
}
@media (min-width: 768px) {
  .page-header {
    width: 768px;
  }
  .page-header__open,
  .page-header__button {
    display: none;
  }
  .page-header__logo {
    top: 0;
  }
  .page-header__logo-image {
    width: 102px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    width: 1200px;
  }
  .page-header__logo {
    height: 96.42px;
  }
  .page-header__logo-image {
    width: 188px;
  }
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main-nav__item:first-child {
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(1, 1, 1, 0.2);
          box-shadow: inset 0 -1px 0 0 rgba(1, 1, 1, 0.2);
}
.main-nav__item:last-child {
  -webkit-box-shadow: inset 0 -3px 3px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 -3px 3px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  height: 55px;
}
.main-nav__link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  color: #ffffff;
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 -1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  background-color: #81b3d2;
}
.main-nav__link:not(.main-nav__link_active):hover,
.main-nav__link:not(.main-nav__link_active):focus {
  background-color: #669ec0;
  outline: none;
}
.main-nav__link:not(.main-nav__link_active):active {
  background-color: #5496bd;
  color: #ffffff4c;
}
@media (max-width: 767px) {
  .main-nav__link_active {
    pointer-events: none;
  }
  .main-nav_nojs .main-nav__wrapper {
    display: block;
  }
  .main-nav_closed .main-nav__wrapper {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-nav__item {
    width: 20%;
    padding: 15px;
  }
  .main-nav__item:first-child,
  .main-nav__item:last-child {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main-nav__item_central {
    margin-right: 20%;
  }
  .main-nav__link {
    font-size: 14px;
    line-height: 24px;
    background-color: #ffffff;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
    color: #000000;
  }
  .main-nav__link:not(.main-nav__link_active):hover,
  .main-nav__link:not(.main-nav__link_active):focus {
    background-color: #ffffff;
    color: #81b3d2;
    outline: none;
  }
  .main-nav__link:not(.main-nav__link_active):active {
    background-color: #ffffff;
    color: #0000004c;
  }
  .main-nav__link_active {
    color: #766357;
  }
  .main-nav__link_active:hover,
  .main-nav__link_active:focus {
    color: #604e43;
    outline: none;
  }
  .main-nav__link_active:active {
    color: rgba(118, 99, 87, 0.3);
  }
}
.page-main {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-main {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page-main {
    width: 1200px;
  }
}
.welcome {
  height: 158px;
  background-color: #9d8e87;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom, 50% bottom;
  background-size: 320px 26px, 786px 389px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .welcome {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
  }
}
.welcome_index {
  height: 389px;
  background-position: bottom, 50% top;
}
.welcome_logo {
  margin-top: 51px;
  width: 230px;
  height: 40px;
}
.welcome_index .welcome_logo {
  margin-top: 91px;
  width: 281px;
  height: 214px;
}
@media (min-width: 768px) {
  .welcome {
    height: 290px;
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-size: 768px 57px, 768px 518px;
  }
  .welcome_index {
    height: 518px;
  }
  .welcome_logo {
    margin-top: 95px;
    width: 460px;
    height: 80px;
  }
  .welcome_index .welcome_logo {
    margin-top: 77px;
    height: 350px;
    width: 460px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .welcome {
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .welcome {
    height: 301px;
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-size: 1200px 57px, 1200px 518px;
  }
  .welcome_index {
    height: 518px;
  }
  .welcome_logo {
    margin-top: 103px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .welcome {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
  }
}
.intro {
  position: relative;
}
.intro_index {
  padding: 40px 20px 27px 20px;
}
.intro_index .intro__wrapper {
  width: 256px;
  margin: 0 auto;
}
.intro_index::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 37px;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  left: 0;
  bottom: -19px;
}
.intro_photo {
  padding: 38px 20px 26px 20px;
}
.intro_photo .intro__wrapper {
  width: 271px;
  margin: 0 auto;
}
.intro_form {
  padding: 37px 20px 17px 20px;
}
.intro_form .intro__wrapper {
  width: 277px;
  margin: 0 auto;
}
.intro__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 0 0 27px 0;
}
.intro__text {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  margin: 0;
}
@media (min-width: 768px) {
  .intro_index {
    padding: 50px 20px;
  }
  .intro_index .intro__wrapper {
    width: 492px;
  }
  .intro_index .intro__title {
    font-size: 21px;
    margin-bottom: 30px;
  }
  .intro_index::after {
    display: none;
  }
  .intro_photo {
    padding: 75px 20px 70px;
  }
  .intro_photo .intro__wrapper {
    width: 430px;
  }
  .intro_photo .intro__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .intro_form {
    padding: 75px 20px 58px;
  }
  .intro_form .intro__title {
    font-size: 30px;
    margin-bottom: 31px;
  }
  .intro_form .intro__wrapper {
    width: 440px;
  }
}
@media (min-width: 1200px) {
  .intro__wrapper {
    margin: 52px auto 50px;
  }
  .intro_photo {
    padding: 113px 20px 70px;
  }
  .intro_form {
    padding: 113px 20px 46px;
  }
  .intro_form .intro__title {
    margin-bottom: 30px;
  }
}
.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #eeeeee;
  counter-reset: list;
}
.advantages__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 26px 35px 15px;
  counter-increment: list;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantages__item_inner {
  position: relative;
}
.advantages__item_inner::after {
  content: "";
  display: block;
  position: absolute;
  width: 280px;
  height: 1px;
  background-color: #000000;
  opacity: 0.1;
  bottom: 0;
  left: 20px;
}
.advantages__name {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 31px;
  position: relative;
}
.advantages__name::before {
  content: " — №" counter(list) " — ";
  position: absolute;
  font-size: 14px;
  font-weight: normal;
  width: 60px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.advantages__description {
  max-width: 100%;
  font-size: 14px;
  line-height: 21px;
}
.advantages__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.advantages__item-special {
  padding: 0;
  display: block;
  color: #ffffff;
  background-color: #81b3d2;
}
.advantages__item-special:first-child {
  padding-top: 20px;
}
.advantages__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 38px 23px 26px;
}
@media (max-width: 1199px) {
  .advantages__description br {
    display: none;
  }
}
@media (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages__item {
    width: calc(100% * 1 / 3);
    padding: 45px 0 15px;
  }
  .advantages__item-special {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .advantages__item-special:first-child {
    padding-top: 0;
  }
  .advantages__item-wrapper {
    width: calc(100% * 1 / 3);
    padding: 40px 44px 25px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .advantages__image-wrapper {
    width: calc(100% * 2 / 3);
    height: 256px;
  }
  .advantages__item-wrapper_bridge {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .advantages__name {
    max-width: 160px;
    font-size: 21px;
    padding-bottom: 37px;
  }
  .advantages__description {
    max-width: 170px;
  }
  .advantages__description_narrow {
    max-width: 140px;
  }
  .advantages__name::before {
    bottom: 5px;
  }
  .advantages__item_inner::after {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantages__description {
    max-width: 288px;
  }
  .advantages__description_narrow {
    max-width: 265px;
  }
  .advantages__item-wrapper {
    padding: 7px 20px 0;
  }
  .advantages__item-special:first-child {
    padding-top: 0;
  }
  .advantages__item {
    padding: 45px 35px 53px;
  }
  .advantages__item-special {
    padding: 0;
  }
  .advantages__name {
    padding-bottom: 36px;
  }
}
.features {
  width: 100%;
  padding: 16px 0 30px 0;
  background-color: #ffffff;
  color: #000000;
  list-style: none;
}
.features__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 20px 20px 8px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}
.features__item::before {
  content: "";
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  top: 11px;
  left: 23px;
}
.features__name {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 14px;
}
.features__description {
  max-width: 100%;
  color: #333333;
  margin: 0 auto;
}
.features__item_house::before {
  width: 37px;
  height: 36px;
  background-image: url("../img/icon-house.svg");
}
.features__item_gift::before {
  width: 32px;
  height: 38px;
  background-image: url("../img/icon-gift.svg");
  top: 9px;
  left: 25px;
}
.features__item_burger::before {
  width: 40px;
  height: 35px;
  background-image: url("../img/icon-burger.svg");
  top: 15px;
  left: 18px;
}
@media (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features__item {
    width: calc(100% / 3);
    padding: 143px 45px 33px 45px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features__item_gift {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .features__item::before {
    content: "";
    top: 45px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .features__item_house::before {
    width: 75px;
    height: 72px;
  }
  .features__item_gift::before {
    width: 64px;
    height: 75px;
    top: 40px;
  }
  .features__item_burger::before {
    width: 77px;
    height: 68px;
    top: 46px;
  }
  .features__name {
    font-size: 21px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .features {
    padding-bottom: 50px;
  }
  .features__name {
    margin-bottom: 22px;
  }
}
.booking {
  padding: 5px;
}
.booking__slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}
.booking__intro {
  max-width: 280px;
  margin: 0 auto;
  line-height: 24px;
}
.booking__search-button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  width: 280px;
  padding: 16px;
  margin: 34px auto 43px;
}
.booking__search-button:hover,
.booking__search-button:focus {
  background-color: #669ec0;
  outline: none;
}
.booking__search-button:active {
  background-color: #5496bd;
  color: #ffffff4c;
}
@media (min-width: 768px) {
  .booking {
    padding: 41px;
  }
  .booking__slogan {
    font-size: 30px;
    margin-bottom: 31px;
  }
  .booking__intro {
    max-width: 440px;
    margin: auto;
  }
  .booking__search-button {
    width: 458px;
    margin: 42px auto 18px;
  }
}
@media (min-width: 1200px) {
  .booking {
    padding: 24px 60px 58px;
  }
  .booking__search-button {
    margin: 48px auto 7px;
  }
}
.map {
  position: relative;
  width: 100%;
  height: 350px;
  background-color: #cee0ae;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 350px;
  padding-bottom: 2px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .map {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
}
.map iframe {
  width: 100%;
}
@media (min-width: 768px) {
  .map {
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-size: 768px 350px;
    padding-bottom: 0;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .map {
    background-image: url("../img/bg-map-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .map {
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-size: 1200px 350px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .map {
    background-image: url("../img/bg-map-desktop@2x.jpg");
  }
}
.page-footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 320px;
  padding: 35px 20px 25px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 245px;
}
.page-footer__tag {
  display: block;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  margin-bottom: 33px;
}
.page-footer__social-list {
  margin: 0 auto 36px;
}
.page-footer__copyright-logo {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 34px;
  background-color: #ffffff;
  margin-left: 10px;
}
.page-footer__copyright-logo:hover,
.page-footer__copyright-logo:focus {
  fill: #81b3d2;
  outline: none;
}
.page-footer__copyright-logo:active {
  fill: #000000;
  fill-opacity: 0.3;
}
@media (min-width: 768px) {
  .page-footer {
    width: 768px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 33px 60px;
    min-height: 0;
  }
  .page-footer__tag {
    margin-bottom: 0;
  }
  .page-footer__social-list {
    margin-bottom: 0;
  }
  .page-footer__copyright {
    margin-left: 5px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    width: 1200px;
    padding: 32px 120px;
  }
  .page-footer__copyright {
    margin-left: 5px;
  }
}
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}
.social-list__link {
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;
  margin: 3px;
}
.social-list__link:hover,
.social-list__link:focus {
  background-color: #669ec0;
  outline: none;
}
.social-list__link:active {
  background-color: #5496bd;
  fill-opacity: 0.3;
}
.review-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #c5c5c5;
}
.review-form__group {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: none;
  padding: 22px 20px 5px 20px;
  margin: 0;
  margin-top: 16px;
  border-bottom: 1px solid #c5c5c5;
}
.review-form__title {
  width: 100%;
  margin: auto;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}
.review-form__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.review-form__label {
  position: relative;
  color: #333333;
  font-size: 14px;
  line-height: 26px;
  margin-right: 14px;
  text-align: left;
}
.review-form__input {
  width: 150px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  height: 58px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #f2f2f2;
  padding: 0 5px 0 22px;
}
.review-form__input::-webkit-input-placeholder {
  font-size: 16px;
  color: #000000;
}
.review-form__input:hover {
  background-color: #e5e5e5;
  outline: none;
}
.review-form__input:focus,
.review-form__input:active {
  background-color: #ffffff;
  border: solid 4px #e5e5e5;
  outline: none;
}
.review-form__input:focus::-webkit-input-placeholder {
  color: transparent;
}
.review-form__input:focus:-ms-input-placeholder {
  color: transparent;
}
.review-form__input:focus::-ms-input-placeholder {
  color: transparent;
}
.review-form__input:focus::placeholder {
  color: transparent;
}
.review-form__input_wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 55px;
}
.review-form__input_wrapper::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.review-form__input_wrapper-tel::after {
  background-image: url("../img/icon-phone.svg");
}
.review-form__input_wrapper-email::after {
  background-image: url("../img/icon-mail.svg");
}
.review-form__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  text-align: left;
}
.review-form__option {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 0 15px 80px;
  margin-bottom: 13px;
}
.review-form__option .review-form__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  color: #000000;
}
.review-form__option .review-form__input + label::before {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 5px;
  left: -80px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.review-form__option .review-form__input[type="radio"] + label::before {
  border-radius: 50%;
}
.review-form__option .review-form__input:hover + label::before,
.review-form__option .review-form__input:focus + label::before {
  background-color: #e5e5e5;
}
.review-form__option .review-form__input:active + label::before {
  background-color: #d5d5d5;
}
.review-form__option .review-form__input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #333333;
  left: -63px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.review-form__option .review-form__input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 9px;
  background-color: transparent;
  border-left: 4px solid #333333;
  border-bottom: 4px solid #333333;
  left: -62px;
  top: 50%;
  -webkit-transform: translateY(-80%) rotate(-45deg);
          transform: translateY(-80%) rotate(-45deg);
}
.review-form__option .review-form__input:active + label::after {
  opacity: 0.3;
}
.review-form__text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 160px;
  border: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding: 16px 20px;
  resize: none;
  overflow: auto;
  background-color: #f2f2f2;
}
.review-form__text:-ms-input-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.review-form__text::-webkit-input-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.review-form__text:hover {
  background-color: #e5e5e5;
  outline: none;
}
.review-form__text:focus,
.review-form__text:active {
  background-color: #ffffff;
  border: solid 4px #e5e5e5;
  outline: none;
}
.review-form__text:focus::-webkit-input-placeholder {
  color: transparent;
}
.review-form__text:focus:-ms-input-placeholder {
  color: transparent;
}
.review-form__text:focus::-ms-input-placeholder {
  color: transparent;
}
.review-form__text:focus::placeholder {
  color: transparent;
}
.review-form__note {
  display: none;
}
.review-form__input_error {
  border: solid 1px red;
}
.review-form__input_error[type="tel"],
.review-form__input_error[type="email"] {
  border-right: solid 4px red;
}
.review-form__group_contact {
  margin-top: 17px;
  padding-bottom: 10px;
}
.review-form__group_contact .review-form__label {
  margin-left: 22px;
  margin-bottom: 6px;
}
.review-form__group_contact .review-form__row {
  margin-bottom: 12px;
}
.review-form__group_impress {
  margin-top: 17px;
  padding-bottom: 8px;
}
.review-form__group_sight {
  margin-top: 18px;
  padding-top: 16px;
  padding-bottom: 2px;
}
.review-form__group_sight .review-form__option {
  margin-bottom: 24px;
}
.review-form__group_emotion {
  margin-top: 18px;
  padding-top: 16px;
  padding-bottom: 8px;
  border-bottom: none;
}
.review-form__button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  width: 280px;
  padding: 16px;
  margin: 34px auto 43px;
  margin: 40px auto 38px;
}
.review-form__button:hover,
.review-form__button:focus {
  background-color: #669ec0;
  outline: none;
}
.review-form__button:active {
  background-color: #5496bd;
  color: #ffffff4c;
}
@media (min-width: 768px) {
  .review-form {
    border: none;
    padding: 0 60px 40px 60px;
  }
  .review-form__group {
    border-top: 1px solid #c5c5c5;
    border-bottom: none;
    padding: 22px 0 32px;
  }
  .review-form__title {
    font-size: 21px;
    width: 300px;
    padding: 0 50px;
  }
  .review-form__group_impress {
    width: 50%;
    border-top: none;
    margin-top: 15px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    position: relative;
  }
  .review-form__group_impress .review-form__title {
    text-align: left;
    padding: 0;
    margin-bottom: 36px;
    width: 100%;
  }
  .review-form__group_impress::after {
    content: "";
    position: absolute;
    width: 1px;
    height: calc(100% - 38px);
    background-color: #c5c5c5;
    right: 0;
    top: 5px;
  }
  .review-form__group_impress .review-form__option {
    margin-bottom: 22px;
    padding-left: 75px;
  }
  .review-form__group_impress .review-form__input[type="radio"] + label::before {
    left: -75px;
  }
  .review-form__group_impress .review-form__input[type="radio"]:checked + label::after {
    left: -58px;
  }
  .review-form__group_name {
    width: 50%;
    border-top: none;
    padding-left: 58px;
    margin-top: 15px;
  }
  .review-form__group_name .review-form__title {
    text-align: left;
    padding: 0;
    margin-bottom: 36px;
    width: 100%;
  }
  .review-form__group_contact {
    padding-bottom: 12px;
  }
  .review-form__group_contact .review-form__label {
    display: block;
    width: 100%;
  }
  .review-form__group_contact .review-form__title {
    margin-bottom: 3px;
  }
  .review-form__group_contact .review-form__row {
    padding-bottom: 12px;
  }
  .review-form__group_contact .review-form__input {
    min-width: 80%;
  }
  .review-form__group_sight {
    margin-top: 10px;
    padding-bottom: 0;
  }
  .review-form__group_sight .review-form__title {
    margin-bottom: 18px;
  }
  .review-form__group_sight .review-form__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 33px 0 95px;
  }
  .review-form__group_sight .review-form__option {
    width: 50%;
    margin-bottom: 32px;
  }
  .review-form__group_sight .review-form__input[type="checkbox"]:checked + label::after {
    top: 60%;
  }
  .review-form__group_emotion {
    padding-top: 16px;
  }
  .review-form__group_emotion .review-form__text {
    margin-top: 41px;
  }
  .review-form__button {
    margin: 20px 0;
    width: 50%;
    padding: 16px 10px;
  }
  .review-form__note {
    display: inline-block;
    margin: auto;
    margin-right: 0;
    font-size: 14px;
    line-height: 26px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #333333;
  }
}
@media (min-width: 1200px) {
  .review-form {
    padding: 0 120px 46px 120px;
  }
  .review-form__group_impress {
    margin-top: 13px;
  }
  .review-form__group_impress .review-form__title {
    padding-left: 80px;
  }
  .review-form__group_impress .review-form__list {
    padding-left: 3px;
  }
  .review-form__group_impress::after {
    height: calc(100% - 58px);
  }
  .review-form__group_name {
    margin-top: 13px;
    padding-left: 80px;
  }
  .review-form__group_name .review-form__label {
    margin-right: 15px;
  }
  .review-form__group_contact {
    margin-top: 15px;
    padding-bottom: 5px;
  }
  .review-form__group_contact .review-form__list {
    padding-top: 51px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .review-form__group_contact .review-form__row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 50%;
  }
  .review-form__group_contact .review-form__input_wrapper {
    width: 54.5%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .review-form__group_contact .review-form__label {
    margin: 0 16px 0 0;
    width: auto;
  }
  .review-form__group_sight {
    margin-top: 4px;
  }
  .review-form__group_sight .review-form__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
  .review-form__group_sight .review-form__title {
    margin-bottom: 19px;
  }
  .review-form__group_sight .review-form__label {
    margin: 0;
  }
  .review-form__group_sight .review-form__option {
    width: auto;
  }
  .review-form__group_emotion {
    margin-top: 15px;
  }
}
.photos {
  width: 100%;
}
.photos__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.photos__item {
  position: relative;
  padding: 21px 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.photos__item:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.photos__link {
  height: 280px;
}
.photos__link img {
  border: none;
}
.photos__legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px 0;
}
.photos__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
}
.photos__author {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  margin: 0;
  margin-bottom: 8px;
}
.photos__likes {
  position: relative;
  min-width: 32px;
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  padding-left: 35px;
  margin: 0;
}
.photos__likes::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  left: 0;
}
@media (min-width: 768px) {
  .photos__list {
    padding: 0 60px;
  }
  .photos__item {
    width: 50%;
    border: none;
    padding: 0;
  }
  .photos__author {
    margin-bottom: 0;
  }
  .photos__item:last-child {
    border: none;
  }
  .photos__link {
    width: 100%;
    height: 267px;
    display: block;
  }
  .photos__link img {
    width: 100%;
    height: 100%;
  }
  .photos__item_wide {
    width: 100%;
  }
  .photos__item_wide .photos__link {
    height: 400px;
  }
  .photos__legend {
    width: 100%;
    padding: 16px 20px;
    background-color: #f2f2f2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1199px) {
  .photos__author {
    color: #333333;
  }
  .photos__likes::before {
    opacity: 0.3;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .photos__item:not(.photos__item_wide):nth-child(2n-1) .photos__legend {
    background-color: #eaeaea;
  }
}
@media (min-width: 1200px) {
  .photos__list {
    padding: 0;
  }
  .photos__item {
    width: calc(100% / 3);
  }
  .photos__item_wide {
    width: 100%;
  }
  .photos__legend {
    position: absolute;
    bottom: 0;
    color: #ffffff;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .photos__likes::before {
    background-image: url("../img/icon-like-white.svg");
  }
}
.video {
  position: relative;
  padding: 32px 0 39px;
}
.video__title {
  margin: 0 15px;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 28px;
}
.video__intro {
  margin: 25px auto 36px;
  width: 240px;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 34px;
}
.video__container {
  display: block;
  height: 201px;
}
.video__container img {
  height: 100%;
  width: 100%;
}
.video__controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  margin: 0 20px;
}
.video__progress {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: -45px;
  width: 100%;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 22px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.video__progress::after {
  content: "";
  position: absolute;
  width: calc(100% - 44px);
  height: 3px;
  background-color: #ffffff;
  top: 50%;
  left: 22px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.2;
}
.video__progress::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 50%;
  left: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.video__button {
  padding: 0;
  margin: 20px 23px 20px 8px;
  height: 26px;
  border: none;
  background-color: transparent;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  fill: #5c6870;
}
.video__button:focus,
.video__button:active {
  outline: none;
}
.video__button:hover,
.video__button:focus {
  fill: #333333;
}
.video__button:active {
  fill: #333333;
  fill-opacity: 0.3;
}
.video__button_replay {
  margin: 20px auto 20px 25px;
}
@media (min-width: 768px) {
  .video {
    padding: 65px 60px 40px;
  }
  .video__title {
    font-size: 30px;
  }
  .video__intro {
    margin: 32px auto 72px;
    width: 420px;
  }
  .video__container {
    height: 500px;
  }
  .video__controls {
    width: calc(100% - 120px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
    padding: 13px 17px 13px 13px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 40px;
  }
  .video__progress {
    position: relative;
    top: 0;
    margin-top: 0;
    background-color: transparent;
  }
  .video__progress::before {
    left: 32%;
  }
  .video__progress::after {
    width: calc(100% - 69px);
    left: 33px;
  }
  .video__button {
    fill: #ffffff;
  }
  .video__button:hover,
  .video__button:focus {
    fill: #ffffff;
    fill-opacity: 0.6;
  }
  .video__button:active {
    fill: #ffffff;
    fill-opacity: 0.3;
  }
  .video__button_replay {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 20px;
    margin-right: 10px;
  }
}
@media (min-width: 1200px) {
  .video {
    padding: 70px 200px 87px;
  }
  .video__intro {
    margin-bottom: 69px;
  }
  .video__controls {
    width: 800px;
    bottom: 85px;
    padding-right: 20px;
  }
  .video__progress::before {
    left: 24%;
  }
}
.modal-form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0 15px 20px 0 rgba(41, 52, 73, 0.75);
          box-shadow: 0 15px 20px 0 rgba(41, 52, 73, 0.75);
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  display: none;
}
.modal-form__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 27px;
}
.modal-form__text {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  margin: 0;
  margin-bottom: 23px;
}
.modal-form__button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  width: 280px;
  padding: 16px;
  margin: 34px auto 43px;
  width: 180px;
  margin: 0 auto;
}
.modal-form__button:hover,
.modal-form__button:focus {
  background-color: #669ec0;
  outline: none;
}
.modal-form__button:active {
  background-color: #5496bd;
  color: #ffffff4c;
}
.modal-form__text-wrapper {
  padding: 43px 50px 10px;
}
.modal-form_error {
  padding: 39px 56px 35px;
}
.modal-form__action {
  width: 100%;
  padding: 20px 0;
  background-color: #f2f2f2;
}
.modal-form_done .modal-form__button {
  width: 280px;
}
.modal-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: show 0.3s;
          animation: show 0.3s;
}
@media (min-width: 768px) {
  .modal-form {
    width: 400px;
  }
  .modal-form__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 24px;
  }
  .modal-form__text {
    margin-bottom: 32px;
  }
  .modal-form__button {
    width: 272px;
  }
  .modal-form_error {
    padding: 55px 53px 50px;
  }
  .modal-form__text-wrapper {
    padding: 56px 80px 0;
  }
  .modal-form__action {
    padding: 44px 0;
  }
  .modal-form_done {
    width: 640px;
  }
  .modal-form_done .modal-form__button {
    width: 458px;
  }
}
@-webkit-keyframes show {
  0% {
    -webkit-transform: scale(0) translate(-50%, -100px);
            transform: scale(0) translate(-50%, -100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes show {
  0% {
    -webkit-transform: scale(0) translate(-50%, -100px);
            transform: scale(0) translate(-50%, -100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
